
h1{
    font-family: Headland One; 
    text-shadow: 5px 5px 5px grey;
 }
 h2{
  font-family: Headland One; 
  text-shadow: 5px 5px 5px grey;
}
p{
   font-family: Eczar;
 }

 ul{
   font-family: Eczar;
 }